.padding-top-15 {
    padding-top: 15px;
}

.smaller-image {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.profile-img {
    background-color: #aaa;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
}

.slider-profundidade {
    width: 50% !important;
}

.diagram-img {
    /* width: 30% !important; */
    height: 100% !important;
}